@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eGaragem</h1>
    <p class="lead">eGaragem é uma plataforma para proporcionar segurança para seu veículo enquanto voçê se diverte.</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <img src="~/Images/Logo.jpg" />
    </div>
    <div class="col-md-4">
    </div>
</div>