@{
    ViewBag.Title = "Selecione a Role";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="jumbotron">
    <h4>Selecione o interesse:</h4>
    <table>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>