@{
    ViewBag.Title = "Selecione a Role";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="jumbotron">
    <h4>Selecione o interesse:</h4>
    <table>
        <tr>
            <td>
                <a>href="@Url.Action("Index", "Locador")" class="btn btn-default"><span title="Locador" class="glyphicon glyphicon-pencil"></span></a>
            </td>
            <td>
                href="@Url.Action("Edit", "Locatario")" class="btn btn-default"><span title="Locatario" class="glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
    </table>
</div>