@{
    ViewBag.Title = "Selecione a Role";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="jumbotron">
    <h4>Selecione o interesse:</h4>
    <table>
        <tr>
            <td>
                <button type="button" class="btn btn-primary">Locador</button>
                <a>href="@Url.Action("Index", "Locador")" class="btn btn-primary" role="button">Locador</a>
            </td>
            <td>
                <button type="button" class="btn btn-primary">Locatario</button>
                <a>href="@Url.Action("Edit", "Locatario")" class="btn btn-primary" role="button">Locatario</a>
            </td>
        </tr>
    </table>
</div>